@import 'tailwindcss';

#root {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F5F5F0;
}